<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/static/">

    <title>{{ user_manager.USER_APP_NAME }}</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="\static\bootstrap\bootstrap.min.css">
    <link rel="stylesheet" href="\static\bootstrap\bootstrap.rtl.min.css">

    <!--<link rel="stylesheet" href="\static\bootstrap\bootstrap-glyphicons.css">-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <!-- froala editor links -->
      <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0"/>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="\static\froala\css\froala_editor.css">
      <link rel="stylesheet" href="\static\froala\css\froala_style.css">
      <link rel="stylesheet" href="\static\froala\css\plugins\code_view.css">
      <link rel="stylesheet" href="\static\froala\css\plugins\image_manager.css">
      <link rel="stylesheet" href="\static\froala\css\plugins\image.css">
      <link rel="stylesheet" href="\static\froala\css\plugins\table.css">
      <link rel="stylesheet" href="\static\froala\css\plugins\video.css">
      <link rel="stylesheet" href="\static\froala\codemirror.min.css">


      <style>

        div#editor {
          width: 81%;
          margin: auto;
          text-align: right;
        }
      </style>




    <!-- In-lining styles to avoid needing a separate .css file -->
    <style>
        hr { border-color: #cccccc; margin: 0; }
        .no-margins { margin: 0px; }
        .with-margins { margin: 10px; }
        .col-centered { float: none; margin: 0 auto; }
    </style>

    <style>
        /* Remove the navbar's default rounded borders and increase the bottom margin */
        .navbar {
          margin-bottom: 50px;
          border-radius: 0;
        }

        /* Remove the jumbotron's default bottom margin */
         .jumbotron {
          margin-bottom: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer {
          background-color: #f2f2f2;
          padding: 25px;
        }
  </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    {# *** Allow sub-templates to insert extra html to the head section *** #}
    {% block extra_css %}{% endblock %}
  </head>


<body>


    {% block body %}


    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home_page') }}">{{ user_manager.USER_APP_NAME }}</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="{{ url_for('home_page') }}">صفحه اصلی</a></li>
              <li><a href="{{ url_for('processes_page') }}">فرآیندها</a></li>
              <li><a href="{{ url_for('about_us_page') }}">درباره ما</a></li>
              <li><a href="{{ url_for('help_page') }}">راهنما</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                {% if call_or_get(current_user.is_authenticated) %}
                <li><a href="{{ url_for('user.edit_user_profile') }}"><span class="glyphicon glyphicon-user"></span> {{ current_user.username or current_user.email }}</a></li>&nbsp;
                <li><a href="{{ url_for('user.logout') }}"><span class="glyphicon glyphicon-log-out"></span> {%trans%}خروج{%endtrans%}</a></li>
                {% else %}
                <li><a href="{{ url_for('user.login') }}"><span class="glyphicon glyphicon-log-in"></span> {%trans%}ورود{%endtrans%}</a></li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <li><a href="{{ url_for('user.register') }}"><span class="glyphicon glyphicon-user"></span> {%trans%}ثبت نام{%endtrans%}</a></li>
                {% endif %}
            </ul>
          </div>
        </div>
    </nav>


    {% block menu %}
    <div id="menu-div" class="with-margins">
        <a href="/">{%trans%}صفحه اصلی{%endtrans%}</a>
    </div>
    {% endblock %}
    <hr class="no-margins"/>

    <div id="main-div" class="with-margins">
    {# One-time system messages called Flash messages #}
    {% block flash_messages %}
        {%- with messages = get_flashed_messages(with_categories=true) -%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category=='error' %}
                        {% set category='danger' %}
                    {% endif %}
                    <div class="alert alert-{{category}}">{{ message|safe }}</div>
                {% endfor %}
            {% endif %}
        {%- endwith %}
    {% endblock %}

    {% block main %}
        {% block content %}{% endblock %}
    {% endblock %}
    </div>


    <br><br>
    <footer class="container-fluid text-center">
      <div id="footer-div" class="clearfix with-margins">
        <div class="pull-left">{{ user_manager.USER_APP_NAME }} v1.0</div>
        <div class="pull-right">&copy; تیم توسعه پلتفرم کاشف</div>
       </div>
    </footer>

    {% endblock %}


    <!-- jQuery library -->
    <script src="\static\bootstrap\jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="\static\bootstrap\bootstrap.min.js"></script>

    <script type="text/javascript" src="\static\angular_scripts\runtime.js"></script>
    <script type="text/javascript" src="\static\angular_scripts\es2015-polyfills.js" nomodule></script>
    <script type="text/javascript" src="\static\angular_scripts\polyfills.js"></script>
    <script type="text/javascript" src="\static\angular_scripts\styles.js"></script>
    <script type="text/javascript" src="\static\angular_scripts\vendor.js"></script>
    <script type="text/javascript" src="\static\angular_scripts\main.js"></script>

    {# *** Allow sub-templates to insert extra html to the bottom of the body *** #}
    {% block extra_js %}{% endblock %}

  </body>

<style>
@font-face {
   font-family: IranSans;
   src: url(../../static/fonts/IRANSansWeb.ttf);
}

* {
   font-family: IranSans;
}
</style>

</html>