<div class="toolbar-container">

  <div (click)="onPlayClicked()" class="btn btn-success btn-sm btn-container">
    <div class="btn-icon">
      <span class="glyphicon glyphicon-play"></span>
    </div>
    <div class="btn-text">
      اجرا
    </div>
  </div>

  <div (click)="onStopClicked()" class="btn btn-danger btn-sm btn-container">
    <div class="btn-icon">
      <span class="glyphicon glyphicon-stop"></span>
    </div>
    <div class="btn-text">
      توقف
    </div>
  </div>

  <div (click)="onRemoveClicked()" class="btn remove-button btn-primary btn-sm btn-container">
    <div class="btn-icon">
      <span class="glyphicon glyphicon-trash"></span>
    </div>
    <div class="btn-text">
      حذف
    </div>
  </div>

</div>
