{% if role == 'Admin' %}
    {% extends "layouts/_base_layout_admin.html" %}
{% elif role == 'ModuleDeveloper' %}
    {% extends "layouts/_base_layout_developer.html" %}
{% elif role == 'not_approved_dev' %}
    {% extends "layouts/_base_layout_developer.html" %}
{% else %}
    {% extends "layouts/_base_layout.html" %}
{% endif %}

{% block content %}

<div class="container-fluid">
  <div class="row content">
      <h4><small>کاشف</small></h4>
      <hr>
      <h2>کاشف</h2>
  </div>
  <div class="row content" style="margin-top:40px">
      <div class="col-sm-9">
          <p>
              کاشف پلتفرمی است که سعی در از میان برداشتن مرز بین علوم مختلف دارد. هدف ما در کاشف این است فرآیندهای اکتشافی و علمی موجود در علوم مختلف را به اجزای تشکیل دهنده ی آن ها تقسیم کنیم. هر جزء، یک ماژول بوده که ممکن است در بین چندین فرآیند متفاوت از علوم مختلف استفاده شود. در نتیجه، کاشف یک پل ارتباطی بین علوم مختلف تشکیل می دهد.
          </p>
      </div>
      <div class="col-sm-3">
          <img src="/static/images/kashef_logo.png" style="width:100%">
      </div>
  </div>
  <div class="row content" style="margin-top:40px">
        <hr>
        <h2>فروشگاه کاشف:</h2>
        <p>
            ماژول ها توسط ماژول نویسان طراحی می شوند. هر شخصی که توانایی طراحی و پیاده سازی ماژولی را داشته باشد، قادر است آن را در این پلتفرم عرضه کند. فروشگاه کاشف به همین منظور ایجاد شده است. در این فروشگاه، ماژول ها پس از ثبت توسط ماژول نویسان، توسط مدیریت بررسی شده و در صورت تایید نهایی، منتشر می شوند.
        </p>
        <p>
            در فاز بعدی کاشف، سعی داریم با استفاده از بازخوردهای دریافتی از کاربران، ماژول ها و همچنین ماژول نویسان را رتبه بندی کنیم. این امر با ایجاد یک فضای رقابتی، منجر به بالاتر رفتن کیفیت ماژول ها و همچنین کمک به کاربران در بهره مندی از بهترین ماژول ها می شود.
        </p>
        <h4>طراحی ماژول ها:</h4>
        <p>
            هر ماژول دارای ورودی ها و خروجی های مشخص است. همچنین تمامی ماژول ها می بایست در قالب وب سرویس ارائه شوند.
        </p>


        <hr>
        <h2>تیم توسعه ی پلتفرم کاشف:</h2>
        <h4>محسن امیریان</h4>
        <p>
            طراحی و پیاده سازی فروشگاه ماژول (mohsen.amirian@outlook.com)
        </p>
        <h4>پژمان یغمایی</h4>
        <p>
            طراحی و پیاده سازی نسخه ی دسکتاپ نرم افزار کاشف (yaghmaie.p@gmail.com)
        </p>
        <h4>مرتضی طالبی</h4>
        <p>
            استاد راهنما (morteza561@gmail.com)
        </p>
  </div>
</div>

{% endblock %}
