<div class="row">
  <div class="col-sm-3">
    <label class="control-label">نام ورودی</label>
    <input class="form-control" type="text" value="{{selectedInput.name}}" readonly>
  </div>

  <div class="col-sm-3">
    <label class="control-label">نوع</label>
    <input class="form-control" type="text" value="{{selectedInputTypeName}}" readonly>
  </div>

  <div class="col-sm-3" *ngIf="linkedModuleName">
    <label class="control-label">ماژول متصل</label>
    <input class="form-control" type="text" value="{{linkedModuleName}}" readonly>
  </div>

  <div class="col-sm-3" *ngIf="linkedOutputName">
    <label class="control-label">نام خروجی:</label>
    <input class="form-control" type="text" value="{{linkedOutputName}}" readonly>
  </div>
</div>

